* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(202, 202, 202);
  color: #333;
  align-items: center;
}

header {
  text-align: center;
  padding: 0.25rem 0;
  background: rgb(202, 202, 202);
  width: 100%;
}

.logo {
  width: 260px;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 222px);
  grid-template-rows: repeat(2, 222px);
  gap:7rem 5rem;
  justify-content: center;
  text-align: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  width: 222px;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden; 
}

.item:hover {
  transform: translateY(-0.5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.item img {
  width: auto;         
  height: auto;        
  max-width: 100%;    
  max-height: 100%;    
  display: block;
  margin: auto;        
  object-fit: contain;
}

.price {
  margin-top: 0rem;
  font-size: 2.1rem;
  font-family: "Garamond", sans-serif;
  color: #111;
}

footer {
  text-align: center;
  padding: 1rem;
  background: rgb(202, 202, 202);
  color: #000;
  font-size: 0.9rem;
  width: 100%;
}

/* MOBILE SCALING */
@media (max-width: 480px) {
  .products {
    transform: scale(0.7);
    transform-origin: top center;
    gap: 2rem 3rem;
  }

  .price {
    font-size: 1.8rem;
  }

}
