* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background: rgb(202, 202, 202);
  color: #333;
}

header {
  text-align: center;
  padding: .25rem 0;
    background: rgb(202, 202, 202);
}

.logo {
  width: 260px;
  max-width: 80%;
  height: auto;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 3rem 5rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  width: 222px;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item:hover {
  transform: translateY(-.5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.price {
  margin-top: 0rem;
  font-size: 2.1rem;
  font-family: "Garamond", sans-serif;
  color: #111;

}

footer {
  text-align: center;
  padding: 1rem;
    background: rgb(202, 202, 202);
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
